<div id="footer" class="panel">
  <div class="panel-footer">
	<div class="container-fluid">
	  <div class="row">
		<div class="col-sm-4">

		  <p>Contact </p>
			  <p>Prof. Xudong Wu</p>
			  <p>E-mail:<a href="mailto:wuxudong@bjfu.edu.cn"> wuxudong@bjfu.edu.cn</a></p>
			  <p> <a href="https://shuibao.bjfu.edu.cn/szdw/blxz/405639.html">Xudong Wu's Research Group</a>, School of Soil and Water Conservation, Beijing Forestry University</a><a href="https://www.bjfu.edu.cn/" target="_blank"></a></p>

		   <p>  </p><p>

		</div>
		<div class="col-sm-4">
		  Support:<br /></p>
		</p>
	    <p> - Beijing Forestry University <br />
		  - Alexander von Humboldt Foundation</a> <br />
		  - Potsdam Institute for Climate Impact Research</a><br />
		</div>
		<div class="col-sm-4">
			Lastly updated January 2024<br />
		  <br />
		  This website was modified from <a href="http://www.allanlab.org/">Milan Allan's template</a><br />
		</div>
	  </div>
	</div>
  </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="{{ site.url }}{{ site.baseurl }}/js/bootstrap.min.js"></script>
